@tailwind base;
@tailwind components;
@tailwind utilities;


body{  margin: 0; background: url('https://via.placeholder.com/1900x1080.png?text=Anvesh Annu') no-repeat center center fixed; background-size: cover;}
body{  margin: 0; background: url('https://picsum.photos/1900/1080?random=1') no-repeat center center fixed; background-size: cover;}

.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .tranBg{
      background: #ffffff85
  }
  
  ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: #dadce0;
      border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
      background-color: #f1f1f1;
  }



  


